/* Base html */
* {
    margin: 0%;
    padding: 0%;
}



html {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


body {
    background-color: #122C34;

    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
   
}

.mr-row{
    flex-wrap: nowrap;
}

/* navbar haut CV */
.navbar {
    background-color: #18181B;
    font-family: Helvetica;
}



/* Nav bar twitch */

nav ul {
    list-style-type: none;
    margin-left: 300px;
    padding: 0;
    overflow: hidden;

}

nav li {
    float: inline-start;
}

nav li a {
    font-size: 1.5rem;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: #7C5988;
}

nav li a.active {
    text-decoration: underline;
    color: #7C5988;

}

/* Page bio */
.mr-img{
    width: 70%;
}

/* REctangle  */
.rectangle {
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    height: 240px;
    background: #18181B;
}

h2 {
    margin-left: 20px;
    padding-top: 20px;
}

.information ul {
    list-style-type: none;
    font-size: 1.5rem;
}

.reseau {

    padding-top: 30px;
    margin-top: 20px;
    text-align: center;

}

.reseau a {
    text-decoration: none;
    color: #7C5988;
}

.reseau a:hover {
    color: #fff;
}

/* modal */
.button-contact {
    background-color: #bfc0c0;
   float: right;
  width: 30%;

   
}

.modal {
    color: #fff;
    border: none;

}

.modal-dialog {
    margin: auto;
}

.mr-modal-dialog {
    margin-top: 283px;
    margin-right: 10px;

}

.modal-body {
    background-color: #18181B;
    height: 250px;
}

.modal-header {
    background-color: #1F1F23;
    border: none;
}

.modal-footer input {
    background-color: #3C3C3F;
    border: none;
    color: #fff;
}

.modal-footer {
    background-color: #1F1F23;
    border: none;
}

.btn-close {
    background-color: #fff;
}

.fa-smile {
    color: #fff;
}

.fa-arrow-right {
    color: #fff;
}

/* Page Diplome */

.mr-dip {

    margin-top: 40px;
    padding-bottom: 30px;
    --bs-gutter-x: 0rem;
}

/* Page competence */
.mr-compe{
    margin-bottom: 50px;
}


.mr-bar {
    width: 70%;
}

.row {
    --bs-gutter-x: 0rem;
}

.progress-bar {
    background-color: #7C5988;
}

.mr-photo {
    width: 89px;
    margin-top: 14px;
}

.mr-premier{
    width: 89px;
    margin-top: 14px;
}

.mr-anglais{
    margin-top: 14px;
}



/* loisir */

.container .card {
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out
}

.container .card:hover {
    height: 400px
}

.container .card .imgContainer {
    position: relative;
    width: 250px;
    height: 250px;
    top: -50px;
    left: 10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

.container .card .imgContainer img {
    max-width: 100%;
    border-radius: 4px
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s
}

@media (max-width: 330px) {
    .container .card .imgContainer {
        left: -2px
    }
}





 .imgjapon {
    width: 23%;
    margin-top: 13px;
}


.fa-twitch {
    color: #7C5988;
}

.fa-keyboard {
    color: #fff;
}

.fa-camera {
    color: #387ac5;
}

.fa-youtube {
    color: red;
}

.fa-suitcase {
    color: #f5e33e;
}

.fa-linkedin {
    color: #387ac5;
}



/* Media queries */

@media (max-width: 756px) {

    .mr-img{
      margin-left: 14%;

    }

    .mr-h2{
        margin-left: 0px;
       text-align: center;
    }
    .button-contact {
        background-color: #bfc0c0;
       float:inline-start;
      width: 50%;
    
       
    }

    nav ul {
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        overflow: hidden;

    }

    nav li {
        float: none;
    }

    nav li a {
        font-size: 1.5rem;
        display: block;
        text-decoration: none;
    }

    nav li a:hover {
        color: #fff;
    }

    nav li a.active {
        text-decoration: underline;
        color: #fff;

    }

    .rectangle {
        margin-left: auto;
        margin-right: auto;
        width: 370px;
        height: 414px;
        background: #18181B;
    }

    .reseau li {
        float: inline-start;
        padding-inline-start: 20px;
    }

    .reseau ul {

        position: absolute;
        bottom: -460px;
        left: 72px;
    }

    .button-contact {
        left: 162px;
        top: 527px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
   
    }

    .mr-dip {
        margin-top: 0px;
        row-gap: 10px;
        padding-bottom: 10px;
    }

    .mr-container {
        display: none;
    }

    .box {
        width: 50%;
    }

    .twitch {
        color: #7C5988;
        font-size: 65px;
    }

    .fa-keyboard {
        color: #fff;
        font-size: 65px;
    }

    .fa-camera {
        color: #387ac5;
        font-size: 65px;
    }

    .youtube {
        color: red;
        font-size: 65px;
    }

    .fa-suitcase {
        color: #f5e33e;
        font-size: 65px;
    }

    .imgjapon {
        width: 80%;
    }

    .mr-html {
        width: 80px;
        
    }

    .mr-css {
        width: 60px;
    }

    .mr-xd {
        width: 63px;
    }

    .mr-photo {
        width: 64px;
        margin-top: 16px;
    }

    .mr-premier {
        width: 64px;
        margin-top: 16px;
    }

    .mr-anglais {
        width: 74px;
        margin-top: 16px;
    }

    .mr-bar {
        width: 70%;
        margin-left: 20px;
    }
}